@use 'variaveis';

.header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: variaveis.$corFundo;
    transition: background-color .5s ease;
    &--is-hidden{
        background-color: transparent;
        transition: background-color .5s ease;
        

        .header__logo{
            opacity: 0;
            transition: opacity .5s ease;
            
        }
        .header__links__item:first-child{
            opacity: 0;
            visibility: 0;
        }

    }
    
    &__container{
        padding: 8px 36px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo{
        max-width: 80px;
        width: 100%;
        margin: 5px;
        transition: opacity .5s ease;
    }

    &__links{
        display: flex;

        &__item{
            margin: 5px;
            transition: opacity .5s ease;


        }
    }
    .button{
        height: 40px;

    }

}

